<!--checking if success exist or not-->
<!---success is an array tyo t exist garx so we have to check whether it has any value or not sucess.length means if its length is 0-->
<% if(success && success.length) { %>
<div class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-2" role="alert">
   <%= success %>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>  <% } %>

  <!-- for error-->

  <% if(error && error.length) { %>
   <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-2" role="alert">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>



<% } %>